rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // Allow all users to read and write profile photos
    match /profile-photos/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
    
    // Allow all users to read and write message attachments
    match /attachments/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
    
    // Allow all users to read and write general files
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
} 